@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    /* background: #313131; */
}
.navbar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); 
    padding: 1em;
}
.navbar a{
    color: #f1f1f1;
    text-decoration: none;
}
.navbar-navs{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: wrap;
}

.navbar-navs .nav-item{
    list-style-type: none;
    margin-left:1.2em;
    padding: 12px;  
    transition: 0.2s;
}

.nav-link:hover{
    border-bottom: 0.3px solid #f1f1f1;
}
.nav-item .nav-link{
    text-decoration: none;
    transition: 0.2s;
    color: #f1f1f1;
}

 

.card{
    margin: 12px;
    padding: 22px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}
.card p{
    margin-top: 12px;
    font-size: 16px;
}

.card a{
    display: inline-block;
    margin-top: 22px;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    border-radius:8px;
    color: #f1f1f1;
    transition: 0.1s;
}

.card a:active{
    transform: scale(1.1);
}
 
